

  <div class="container-fluid side bar">
    <div class="row">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" href="/dashboard" role="tab"
            aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" href="/dashboard/profile" role="tab"
            aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" href="/dashboard/settings"
            role="tab" aria-controls="settings">Settings</a>
          <a class="list-group-item list-group-item-action" id="list-logout-list" href="/auth/logout" role="tab"
            aria-controls="logout">Logout</a>
        </div>
      </div>

      <div class="col-9">
        <div class="container">
          <div class="board-header-content-wrapper">
            <h1>Welcome {{user.username}} !! Create a new Board!</h1>
            <div class="editable-component" style="width:auto; height:auto;"></div>
            <h3><input type="text" name="board-name" placeholder="Board name"></h3>
            <h4><input type="text" name="board-description" placeholder="Add a board description"></h4>
            <div class="createDash">
              <button class="createItem" onclick="createNewItem()">New item</button>
              <form id="taskForm" action="/dashboard" method="post" enctype="multipart/form-data"></form>
            </div>

            {{#each tasks}}
            <form id="taskForm" action="/dashboard/{{this._id}}" method="post" enctype="multipart/form-data">
              <input type="text" placeholder="Add task name" name="name" value="{{this.name}}" />

              <select name="responsible">
                <option value="{{this.responsible}}" hidden="hidden" selected="selected">{{this.responsible}}</option>
                {{#each ../names}}
                <option>{{username}}</option>
                {{/each}}
              </select>

              <select name="status">
                <option value="{{this.status}}" hidden="hidden" selected="selected">{{this.status}}</option>
                <option>Stuck</option>
                <option>Working on it</option>
                <option>Done</option>
                <option>Waiting for review</option>
              </select>


              <input type="date" name="dueDate" value="{{this.dueDate}}" />

              <select name="priority">
                <option value="{{this.priority}}" hidden="hidden" selected="selected">{{this.priority}}</option>
                <option>Urgent</option>
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
              </select>



              <input type="text" placeholder="Add a comment" name="comment" value="{{this.comment}}" />
              <span>uploadet file: <a href="">{{this.files.name}}</a></span>


            </form>
            <form action="/dashboard/delete/{{this._id}}" method="post">
              <button type="submit">Delete</button>
            </form>
            {{/each}}

            


          </div>
        </div>
      </div>
    </div>
  </div>



  {{!-- <form action="/dashboard/" method="POST">
  <input placeholder="Add task" name="Add Task"></input>
  <input placeholder="to do" name="toDo"></input>
  <button>&times;</button>
</form> --}}



  {{!-- <a href="/dashboard">Add task</a> --}}

  <script>
    function createNewItem() {
      document.querySelector('#taskForm').innerHTML +=
        `
      <input type="text" placeholder="Add task name" name="name"/>
      
      <select name="responsible">
    <option></option>
    {{#each names}}
    <option>{{username}}</option>
    {{/each}}
  </select>

  <select name="status">
    <option></option>
    <option>Stuck</option>
    <option>Working on it</option>
    <option>Done</option>
    <option>Waiting for review</option>
  </select>
  
  <input type="date" name="dueDate"/>

 <select name="priority">
    <option></option>
    <option>Urgent</option>
    <option>High</option>
    <option>Medium</option>
    <option>Low</option>
  </select>

  <input type="text" placeholder="Add a comment" name="comment"/>
  <input type="file" name="files"/>
      `
      document.querySelectorAll(".formBtn").forEach(elem => elem.remove())
      let createBtn = document.createElement('button');
      createBtn.setAttribute("type", "submit")
      createBtn.classList.add("formBtn")
      createBtn.innerText = "Save"
      let dashForm = document.querySelector("#taskForm")

      dashForm.appendChild(createBtn)
    }
  </script>
