<div class="container">

    {{#with user}}
    <h1> Personal Information - {{username}}</h1>

    <br>
    <div class="container">
        <div class="row">

            <form action="/dashboard/profile" method="post">

                <div class="row">

                    <div class="form-group col-sm-12">
                        <label for="title">Title: </label>
                        <input class="d-flex w-100" type="text" name="title" id="title" value="{{title}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="email">Email: </label>
                        <input class="d-flex w-100" type="text" name="email" id="email" value="{{email}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="phone">Phone: </label>
                        <input class="d-flex w-100" type="number" name="number" id="number" value="{{number}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="skype">Skype: </label>
                        <input class="d-flex w-100" type="text" name="skype" id="skype" value="{{skype}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="location">Location: </label>
                        <input class="d-flex w-100" type="text" name="location" id="location" value="{{location}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="birthday">Birthday: </label>
                        <input class="d-flex w-100" type="date" name="birthday" id="birthday" value="{{birthday}}">
                    </div>
            </form>
            {{/with}}

        </div>
            <div>
                <a href="/dashboard"><button type="submit" class="btn btn-danger">Edit my profile</button></a>
                <a href="/dashboard"><button type="submit" class="btn btn-danger">Back to Home</button></a>
            </div>
    </div>
</div>
</div>